<div class="wrapper wrapper__bg">
  <div class="container">
    <div class="panel">
      this is boards/index.html.erb
    </div>

    <div class="panel">
      <form action="/boards" method="POST">
        <input type="text" name="name">
        <input type="text" name="from">
        <input type="text" name="email">
        <input type="text" name="content">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <input type="submit" >
      </form>
    </div>
  </div>
</div>
